Hamoye ID : 1485ba305ac1f000

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
data = pd.read_csv("energydata_complete.csv")

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
from sklearn.metrics import mean_absolute_error

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
from sklearn.metrics import r2_score

In [8]:
scaler = MinMaxScaler()

In [9]:
linear_models = LinearRegression()

In [10]:
data.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [12]:
data.shape

(19735, 29)

In [13]:
datas=data[['T2', 'T6']]

In [14]:
datas.describe()

                 T2            T6
count  19735.000000  19735.000000
mean      20.341219      7.910939
std        2.192974      6.090347
min       16.100000     -6.065000
25%       18.790000      3.626667
50%       20.000000      7.300000
75%       21.500000     11.256000
max       29.856667     28.290000

In [15]:
datas.head()

     T2        T6
0  19.2  7.026667
1  19.2  6.833333
2  19.2  6.560000
3  19.2  6.433333
4  19.2  6.366667

In [16]:
x_var=data[['T2']]
y_var=data[['T6']]

In [17]:
dropped=data.drop(columns=['date'],axis=1,inplace=True)

In [18]:
a=pd.DataFrame(scaler.fit_transform(data),columns=data.columns)

In [19]:
living_target = a['T2']

In [20]:
 outside_target = a['T6']

choosing test size as 20% and random state as 10

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(living_target.to_frame(), outside_target, test_size = 0.2, random_state = 10)

In [22]:
linear_models.fit(X_train,Y_train)
predicted_values= linear_models.predict(X_test)

In [23]:
r2_score = r2_score(Y_test,predicted_values)
round(r2_score, 2)

0.64

In [24]:
features_df = a.drop(columns=['lights', 'Appliances'])

In [25]:
appliance = a['Appliances']

choosing test set as 30% and training as 70% and random state as 42

In [26]:
X_train, X_test, Y_train, Y_test = train_test_split(features_df, appliance, test_size = 0.3, random_state = 42)

In [27]:
linear_models.fit(X_train,Y_train)
predicted_values= linear_models.predict(X_test)

In [28]:
mae = mean_absolute_error(Y_test, predicted_values)
print(mae)

0.05013362397742955

In [29]:
mae = mean_absolute_error(Y_test, predicted_values)
round(mae,2)

0.05

In [30]:
from sklearn.metrics import mean_squared_error

In [31]:
rmse = np.sqrt(mean_squared_error(Y_test, predicted_values))
print(rmse)

0.0875144494766171

In [32]:
mse = np.sqrt(mean_squared_error(Y_test, predicted_values))
round(rmse,2)

0.09

In [39]:
import numpy as np
residual = np.sum(np.square(Y_test - predicted_values))
print(residual)

45.34762967266377

In [41]:
residual = np.sum(np.square(Y_test - predicted_values))
round(residual,2)

45.35

In [42]:
#Coefficient of Determination
from sklearn.metrics import r2_score
r2_scores = r2_score(Y_test,predicted_values)
round(r2_scores, 2)

0.15